:root[data-theme="light"] {
  --blue-100: #28c2ff;
  --blue-200: #25afe6;
  --blue-300: #146180;
  --blue-400: #0a3140;

  --white-100: #fafeff;
  --white-200: #f5fcfe;

  --black-100: #252525;

  --lin-gradient: linear-gradient(108.54deg, #2882ff 0%, #146180 99.14%);

  --orange-100: #ff9a29;
  --orange-200: #bf741f;

  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary-300: var(--blue-300);

  --accent-100: var(--orange-100);
  --accent-200: var(--orange-200);

  --text-color-primary: var(--black-100);
  --text-color-secondary: var(--white-200);

  --card-text-color: var(--white-200);

  --body-bg-color: var(--white-200);
}

:root[data-theme="dark"] {
  --purple-100: #5c529c;
  --purple-200: #2e294e;
  --purple-300: #201c36;

  --white-100: #f2f2f2;
  --white-200: #d9d9de;

  --black-100: #292929;

  --lin-gradient: linear-gradient(108.54deg, #2882ff 0%, #146180 99.14%);

  --yellow-100: #e8d34d;
  --yellow-200: #a89938;

  --primary-100: var(--purple-200);
  --primary-200: var(--purple-100);
  --primary-300: var(--purple-300);

  --accent-100: var(--yellow-100);
  --accent-200: var(--yellow-200);

  --body-bg-color: var(--purple-300);

  --text-color-primary: var(--white-100);
  --text-color-secondary: var(--black-100);

  --card-text-color: var(--white-100);

  & img {
    filter: brightness(0.8) contrast(1.2);
  }

  & input,
  textarea {
    background-color: var(--white-200);
  }
}

:root {
  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;

  --body-fs: var(--fs-200);

  --bx-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --page-width: 75rem;
}

@media (min-width: 49rem) {
  :root {
    --body-fs: var(--fs-300);
  }
}
