.contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;

  h3 {
    font-size: var(--fs-500);
  }

  form {
    margin: 0;
    margin-top: 1.5em;
    padding: 0;
    text-align: left;
  }

  form * {
    display: block;
  }

  fieldset {
    border: 0;
    width: 100%;
  }

  fieldset:disabled button[type="submit"] {
    opacity: 0.5;
  }

  fieldset > * + * {
    margin-top: 1em;
  }

  fieldset button[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  textarea,
  input {
    border: 1px solid var(--text-clr-dark);
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
    padding: 0.5em;
    width: 100%;
  }

  label input {
    margin-top: 0.25em;
  }
}

@media (min-width: 49rem) {
  .contact {
    fieldset button[type="submit"] {
      margin-left: 0;
    }
  }
}
