.footer {
  background-color: var(--primary-100);
  color: var(--text-clr-dark);
  padding: 2em 0;

  .copyright {
    font-size: 0.9rem;
  }

  .copyright > * {
    display: block;
  }

  .copyright * + * {
    margin-top: 0.5em;
  }
}
