.portfolio-item {
  & > * + * {
    margin-top: 1.75em;
  }

  a {
    color: inherit;
  }

  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }

  @include mq(lg) {
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;
  }

  .image-wrapper {
    @include mq(md) {
      grid-column: 1 / span 3;
    }

    @include mq(lg) {
      grid-column: 1 / 2;
    }
  }

  .item-text {
    margin-top: 6em;

    @include mq(md) {
      grid-row-start: 2;
      grid-column: 1 / -1;
      margin-top: 0;

      display: grid;
    }

    @include mq(lg) {
      grid-column: 2 / -1;
      grid-row-start: 1;
    }

    & > * + * {
      margin-top: 2em;
    }
  }

  .content {
    line-height: 1.7;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;

    @include mq(md) {
      margin-left: 0;
      margin-right: 0;
      justify-self: end;
      text-align: right;
    }
  }

  header {
    position: relative;
    text-align: right;
    padding: 0 1em;

    &::after {
      content: "";
      width: 200px;
      height: 200px;
      background-color: var(--primary-100);
      position: absolute;
      right: 0;
      top: -100px;
      border-radius: 100vw;
      opacity: 0.3;
      z-index: -1;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 1.3px;
    }
  }

  .portfolio-links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    @include mq(md) {
      margin-left: 0;
      margin-right: 0;
      justify-self: end;
      text-align: right;

      grid-template-columns: 1fr 1fr;
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      position: relative;
      justify-self: center;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--neutral-200);
        opacity: 0.2;
        transform: rotate(-2deg);
        z-index: -1;

        @include mq(lg) {
          height: 10px;
        }
      }

      &::after {
        transition: transform 0.2s linear;
        transform: scale(0);
        transform-origin: left;
        background-color: var(--accent-100);
        opacity: 1;
        z-index: -1;
      }

      &:hover::after {
        transform: scale(1);
      }
    }
  }
}

.portfolio-item--left {
  header {
    text-align: left;

    &::after {
      right: unset;
      left: 0;
    }
  }

  .image-wrapper {
    @include mq(md) {
      grid-column: 2 / -1;
    }
  }

  .item-text {
    @include mq(lg) {
      grid-column: 1 / 2;
    }
  }

  .content {
    @include mq(md) {
      justify-self: start;
      text-align: left;
    }
  }

  .portfolio-links {
    @include mq(md) {
      justify-self: start;
    }
  }
}
