.skills {
  background-color: var(--primary-200);

  .text {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .text * + * {
    margin-top: 1em;
  }

  .cards {
    margin-top: 2em;
  }

  .cards > * + * {
    margin-top: 2em;
  }

  .card {
    background-color: var(--primary-300);
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
    color: var(--card-text-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 18rem;
    padding: 3.5em 1em 2em 1em;
  }

  .card p {
    margin-top: 2.5em;
    text-align: left;
  }

  .card > * + * {
    margin-top: 0.75em;
  }

  .card .js,
  .card .react {
    font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
    font-weight: 700;
  }

  .card .js {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    transform: rotate(10deg);
  }

  .card .js .part-2 {
    padding-left: 1em;
  }

  .card .react {
    transform: rotate(-10deg);
  }

  .card .tags {
    display: flex;
  }

  .card .tags * + * {
    margin-left: 0.5em;
  }

  .card .tag {
    background-color: var(--primary-200);
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
    padding: 0.25em 0.5em;
  }
}

@media (min-width: 49rem) {
  .skills {
    position: relative;

    .text {
      margin-left: unset;
      margin-right: unset;
      max-width: 40%;
      text-align: left;
    }

    .card {
      position: absolute;
      right: 15%;
      top: 40px;
    }

    .react-card {
      top: 300px;
    }
  }
}

@media (min-width: 75rem) {
  .skills {
    position: relative;

    .js-card {
      right: 32%;
    }

    .react-card {
      right: 15%;
      top: 300px;
    }
  }
}
