---
layout: base.njk
eleventyNavigation:
  key: work
  title: About
  order: 300
permalink: /about/
---

<section class="page-header">
  <div class="container">
    <h1 class="fs-500 bold">Hi There,</h1>
  </div>
</section>

<div class="container">
  <section class="about-me">
    <p>
     My name is Goran Tenic and I am a frontend developer situated in the Netherlands. I love creating engaging and performant websites and apps. The tools I mainly use, and am proficient in, are <span class="semi-bold">HTML, CSS and JavaScript.</span> The frontend javascript framework i have the most experience with is <span class="semi-bold">React.</span>
    </p>

    <h2 class="fs-400 serif semi-bold">Offline</h2>
    <p>
      When I am not coding or learning about coding, I like to step outside the digital world into the physical one. I love being outside in nature, hiking or going for a jog. Watching movies <span class="italic">(that are not super hero related)</span> and spending quality time with my family.
    </p>
  </section>
</div>

{% include "sections/cta.njk" %}

{% include "sections/footer.njk" %}
