---
layout: base.njk
eleventyNavigation:
  key: work
  title: About
  order: 300
permalink: /about/
---

<section class="page-header">
  <div class="container">
    <h1 class="fs-500 bold">Hi There,</h1>
  </div>
</section>

<div class="container">
  <section class="about-me">
    <p>
      I'm Goran Tenic, a frontend developer from the Netherlands. I love creating <span class="italic">(and learning new ways to create)</span> engaging and performant websites/apps. I am proficiant in using the primary tools for working on the web, namely:
       <span class="semi-bold">HTML, CSS and JavaScript.</span> The frontend javascript framework i have the most experience with is <span class="semi-bold">React.</span>
    </p>

    <h2 class="fs-400 serif semi-bold">Offline</h2>
    <p>
      When not coding i love being outside in nature hiking or going for a jog, movies without super heroes and watching to many youtube videos.
  </section>
</div>

{% include "sections/cta.njk" %}

{% include "sections/footer.njk" %}
