---
layout: base.njk
---

<section class="hero container">
  {% include "sections/hero.njk" %}
</section>

<section id="work" class="featured">
  {% include "sections/featured.njk" %}
</section>

<section id="skills" class="skills">
  {% include "sections/skills.njk" %}
</section>

<div class="container">
  <section class="work">
    {% include "sections/work.njk" %}
  </section>

  <section id="contact" class="contact">
    {% include "sections/contact.njk" %}
  </section>
</div>

<footer class="footer">
  {% include "sections/footer.njk" %}
</footer>
