---
layout: base.njk
---

 <div class="hero-background">
  </div>
  <svg class="hero-svg" fill="currentColor" preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <polygon fill="inherit" points="0,0 100,0 0,100" />
  </svg>

<div class="container">
  <section class="hero">
    {% include "sections/hero.njk" %}
  </section>

  <section class="selected-work">
    <h2 class="sans fs-600 semi-bold">
      Selected Work
    </h2>
    <a href="/work/#hn-clone" class="selected-1">
      <div class="image-wrapper">
        <img src="./assets/images/hn-clone.png" alt="screenshot of my hacker news clone">
      </div>
    </a>
    <a href="/work/#manage" class="selected-2">
      <div class="image-wrapper">
        <img src="./assets/images/manage.png" alt="screenshot of my manage landing page">
      </div>
    </a>
    <a href="/work" class="more-work-link bold">
      See More Work
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
    </a>
  </section>
</div>

<section class="cta">
  <div class="container">
    <h2 class="fs-500 bold sans">
      Get in touch with me if you are interested in working with me.
    </h2>
    <a href="/contact" class="btn">
      Send me a message
    </a>
  </div>
</section>

<div class="container">
  {% include "sections/footer.njk" %}
</div>
