$breakpoints: (
  xs: 29.6rem,
  s: 34.5rem,
  md: 49rem,
  lg: 75rem,
);

// SCSS Variabel so i can use sass functions.
$primary-100: #ffda82;

:root[data-theme="light"] {
  --blue-100: #82a8ff;

  --yellow-100: #ffda82;

  --neutral-100: #f6f7f8;
  --neutral-200: #333333;

  --body-bg-clr: var(--neutral-100);
  --body-txt-clr: var(--neutral-200);

  --primary-100: var(--blue-100);
  --accent-100: var(--yellow-100);
}

:root[data-theme="dark"] {
  & img {
    filter: brightness(0.8) contrast(1.2);
  }

  & input,
  textarea {
    background-color: var(--white-200);
  }
}

:root {
  --border-radius: 5px;
  --page-width: 75rem;
}
