<!DOCTYPE html>
<html lang="{{ meta.lang }}" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=IBM+Plex+Serif:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'assets/styles/main.css' | url }}">
  {% include "meta.njk" %}
</head>
<body>

  <div class="container">
    {% include "sections/header.njk" %}
  </div>
  <main>
    {{ content | safe }}
  </main>

  <script src="{{ 'assets/js/main.js' | url }}" type="text/javascript"></script>
</body>
</html>
