<section class="cta">
  <div class="container">
    <h2 class="fs-500 bold sans">
      Get in touch with me if you are interested in working with me.
    </h2>
    <a href="/contact" class="btn">
      Send me a message
    </a>
  </div>
</section>
