<div class="container">
  <footer class="footer fs-200">
    <div class="f-grid">
      <span>&copy; 2021</span>
      <span>Social</span>
      <a href="/">Goran Tenic</a>
      <a href="https://github.com/goranzu">Github</a>
    </div>
  </footer>
</div>
