<div class="hero-left">
  <h3 class="fs-400 regular sans">Hi! My name is Goran,</h3>
  <h1 class="fs-600 serif">here to help you create <span class="underline">great</span> <span class="underline">experiences</span> on the Web.</h1>
  <p>
  I am a front end developer based in the Netherlands, and i have the skills to help you create amazing stuff for the web. Look at some of my work below!
  </p>
  <a href="/work" class="btn">
    See My Work
  </a>
</div>
<div class="hero-right">
  <img src="./assets/images/illustration-light.svg" alt="idea giving water to lightbulb">
</div>
