{# <div class="container"> #}
  <div class="hero-left">
    <h3>Hey, I'm Goran,</h3>
    <h1>Here to help you create great experiences on the Web.</h1>
    <p>
    I am a front end developer based in the Netherlands. With the skills to help you create amazing stuff for the web. Look at some of my work below.
    </p>
    <div class="hero-buttons">
      <a href="#work" class="btn">
        My Work
      </a>
      <a href="#contact" class="btn btn--outline">
        Contact
      </a>
  </div>
</div>
  <div class="hero-right">
    <img src="./assets/images/illustration-light.svg" alt="idea giving water to lightbulb">
    {# {% Image src="./assets/images/illustration-light.svg", alt="idea giving water to lightbulb" %} #}
  </div>
{# </div> #}
