<div class="text">
    <h2>
      My Skills
    </h2>
    <p>
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
    </p>
  </div>

  <div class="cards">
    <div class="card">
      <h3>document.querySelector(".app");</h3>
      <p>
        Solid understanding of the three fundamental web technologies.
      </p>
      <div class="tags">
        <div class="tag">
          HTML
        </div>
        <div class="tag">
          CSS
        </div>
        <div class="tag">
          JavaScript
        </div>
      </div>
    </div>

    <div class="card">
      <h3><React /></h3>
      <p>
       I have used react for many personal projects, and have solid understanding of its concepts.
      </p>
      <div class="tags">
        <div class="tag">React</div>
      </div>
    </div>
  </div>
