<div class="container">
  <div class="text">
    <h2>
      My Skills
    </h2>
    <p>
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
     </p>
     <p>
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
      Hier komt nog een stuk tekst denk ik. Iets over mijn zelf en hoe ik web development zie.
    </p>
  </div>

  <div class="cards small">
    <div class="card js-card">
      <h3 class="js small"><span class="part-1">document.</span><span class="part-2">querySelector(".app");</span></h3>
      <p>
        I have a solid understanding of the three fundemental web technologies.
      </p>
      <div class="tags">
        <div class="tag">
          HTML
        </div>
        <div class="tag">
          CSS
        </div>
        <div class="tag">
          JavaScript
        </div>
      </div>
    </div>

    <div class="card react-card">
      <h3 class="react small">&lt;React /&gt;</h3>
      <p>
        I have used react for many personal projects, and have solid understanding of its concepts.
      </p>
      <div class="tags">
        <div class="tag">React</div>
      </div>
    </div>
  </div>
</div>
