<article class="demo demo-container">
    <div class="content">
      <header>
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="inherit"/>
        </svg>
        <h4>
          {{ projectsList[1].subTitle }}
        </h4>
        <h3>{{ projectsList[1].title }}</h3>
      </header>
      <main>
        <p>
          {{ projectsList[1].summary | safe }}
        </p>
      </main>
      <div class="article-buttons">
        {# <a class="github-button" href="https://github.com/goranzu/fm-challenge-rest-countries">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          <span>
            Github
          </span>
        </a>
        <a class="live-button" href="https://603a3cd20a596af7bffbacef--distracted-mcnulty-ef9614.netlify.app/">
          Live Site
        </a> #}
        <a href="https://github.com/goranzu/fm-challenge-rest-countries">
        view on github
      </a>
      <a href="https://603a3cd20a596af7bffbacef--distracted-mcnulty-ef9614.netlify.app/">
        view the site live
      </a>
      </div>
    </div>

    <div class="image-container">
      <img src="./assets/images/rest-countries.png" alt="printscreen of my rest countries app">
    </div>
  </article>

  <article class="demo demo-container demo--left">
    <div class="content">
      <header>
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="50" fill="inherit"/>
        </svg>
        <h4>
          {{ projectsList[2].subTitle }}
        </h4>
        <h3>{{ projectsList[2].title }}</h3>
      </header>
      <main>
        <p>
          {{ projectsList[2].summary | safe }}
        </p>
      </main>
      {# <div class="article-buttons">
        <a class="github-button" href="https://github.com/goranzu/fm-challenge-manage-landing-page">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          <span>
            Github
          </span>
        </a>
        <a class="live-button" href="https://603a4006d68205e9048882eb--pensive-lamport-2bae5a.netlify.app/#about">
          Live Site
        </a>
      </div> #}
      <div class="article-buttons">
      <a href="https://github.com/goranzu/fm-challenge-manage-landing-page" class="gihub-link">
        view on github
      </a>
      <a href="https://603a4006d68205e9048882eb--pensive-lamport-2bae5a.netlify.app/#about">
        view the site live
      </a>
    </div>
    </div>

    <div class="image-container">
      <img src="./assets/images/manage.png" alt="printscreen of the manage landing page">
    </div>
  </article>
